<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-134532731-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134532731-1');
  </script>
  <meta charset="utf-8" />
  <title>Lifantou</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon"
    th:href="@{/css_template_index/ressources/Logo.png}" />
  <link th:href="@{/css_template_index/img/lifantouLogo4.png}"
    rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
    rel="stylesheet" />
  <!-- Main Stylesheet File -->
  <link th:href="@{css_template_index/css/front.css}" rel="stylesheet" />
  
  <!-- Bootstrap CSS -->
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-top-fixed/" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

</head>
<body id="body">
  <div class="container-fluid">
    <!--==========================
        Header
      ============================-->
    <div th:replace="fragments/index_menus ::index_menus"></div>
    <!-- #header -->

    <div class="accueil" id="accueil">
      <div class="container align-center">
        <div class="mer col-md-12 col-xs-8 row">
          <div class="shine">
            <a href="#service">
              <img class="c-glitch d-none d-xl-block d-lg-block ndiro" width="200px" th:src="@{/css_template_index/ressources/7.png}" alt=""/>
            </a>
          </div>
          <div class="shine">
            <a href="#service">
              <img class="c-glitch d-none d-xl-block d-sm-block niarel" width="200px" th:src="@{/css_template_index/ressources/6.png}" alt=""/>
            </a>
          </div>
          <div class="shine">
            <a href="#service">
              <img class="c-glitch ndiro" width="200px" th:src="@{/css_template_index/ressources/5.png}" alt=""/>
            </a>
          </div>
        </div><br/> <br/>
        <p class="text-center text-uppercase">
          <a th:href="@{/register}" class="btn btn-primary btn-lg" id="inscr"> Inscription</a>
          <a th:href="@{/login}" class="btn btn-primary btn-lg" id="inscr"> Connexion</a>
        </p> <br/><br/>
        <div class="container col-md-12 col-xs-8">
          <div class="mer1">
            <div class="shine">
              <a href="#service">
                <img class="c-glitch  d-none d-xl-block d-sm-block niarel" width="200px" th:src="@{/css_template_index/ressources/4.png}" alt=""/>
              </a>
            </div>
            <div class="shine">
              <a href="#service"><img class="c-glitch d-none d-xl-block d-lg-block ndiro" width="200px" th:src="@{/css_template_index/ressources/3.png}"
                  alt=""/></a>
            </div>
            <div class="shine">
              <a href="#service"><img class="c-glitch d-none d-xl-block d-lg-block niarel" width="200px" th:src="@{/css_template_index/ressources/2.png}"
                  alt=""/></a>
            </div>
            <div class="">
              <a href="#service"><img class="c-glitch ndiro" width="200px" th:src="@{/css_template_index/ressources/1.png}" alt=""/></a>
            </div>
          </div>
        </div>
        <h1 class="text-muted text-center" style="margin-top:2%">Des produits locaux de qualité mis à votre disposition</h1>
        <br/><br/><br/>
      </div>
    </div>

    <div class="service container row col-lg-12" id="service">
      <h2 class="text-center text-uppercase col-lg-12">Nos services</h2><br />
      <div class="container row col-lg-12">
        <div class="col-sm-4 col-lg-3 col-xs-2">
          <img class="card-img-top" th:src="@{/css_template_index/ressources/11.png}" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title text-center">Agri</h5>
            <p class="card-text "> Nous facilitons l'accès aux ressources afin d'optimiser la production</p>
            <a href="#" class="btn btn-outline-primary text-center">Devenez partenaire</a>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3 col-xs-2">
          <img class="card-img-top" th:src="@{/css_template_index/ressources/10.png}" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title text-center">E-market</h5>
            <p class="card-text">Nous prenons en charge votre commande de l'achat à la livraison</p>
            <a href="#" class="btn btn-outline-primary text-center">Faites vos commandes</a>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3 col-xs-2">
          <img class="card-img-top" th:src="@{/css_template_index/ressources/9.png}" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title text-center">Supervision</h5>
            <p class="card-text"> Une cartographie intégrée pour un meilleur accès aux données territoriales</p>
            <a href="#" class="btn btn-outline-primary text-center">Contactez-nous</a>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3 col-xs-2">
          <img class="card-img-top" th:src="@{/css_template_index/ressources/8.png}" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title text-center">Coup de coeur</h5>
            <p class="card-text" style="padding: 1px;"> Un espace dédié pour améliorer l'alimentation en milieu scolaire</p>
            <a href="#" class="btn btn-outline-primary text-center">Faites un don</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accompagne">
      <h1 class="text-uppercase text-center">ils accompagnent lifantou</h1>
      <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner container">
          <div class="carousel-item active">
            <div class="part1">
              <a href="https://sn.ambafrance.org/" target="blank" class="col-lg-3"><img
                  th:src="@{/css_template_index/ressources/Logo1.jpg}" alt="" /></a>
              <div class="col-lg-1"></div>
              <a href="https://www.snsoftware.com/" target="blank" class="col-lg-3"><img
                  th:src="@{/css_template_index/ressources/Logo2.jpg}" alt="" /></a>
              <div class="col-lg-1"></div>
              <a href="https://uiowa.edu/" target="blank" class="col-lg-3 uiowa"><img
                  th:src="@{/css_template_index/ressources/uiowa.jpg}" alt="" /></a>
              <div class="col-lg-1"></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="part1">
              <a href="https://www.radiant.earth/" target="blank" class="col-lg-3"><img
                  th:src="@{/css_template_index/ressources/Logo5.png}" alt="" /></a>
              <div class="col-lg-1"></div>
              <a href="https://yali.state.gov/mwf/apply/" target="blank" class="col-lg-3"><img
                  th:src="@{/css_template_index/ressources/Logo4.jpg}" alt="" /></a>
              <div class="col-lg-1"></div>
              <a href="https://www.tonyelumelufoundation.org/" target="blank" class="col-lg-3"><img
                  th:src="@{/css_template_index/ressources/unnamed.png}" alt="" /></a>
              <div class="col-lg-1"></div>
    
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="realite" id="propos">
      <h1 class="text-center text-uppercase">nous en faisons une réalité</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div id="temoignage" class="carousel slide" data-ride="carousel">
              <div id="carouselExampleCaptions" class="carousel slide d-none d-md-block" data-ride="carousel">
                <div class="carousel-inner w-100 h-100" id="realite">
                  <div class="carousel-item active" style="height: 400px">
                    <a href="https://www.nouvelobs.com/monde/afrique/20181112.OBS5257/awa-thiam-les-enfants-senegalais-doivent-pouvoir-manger-chaque-jour-a-l-ecole.html"
                      target="blank">
                      <img class="d-block w-100" style="height: 300px" data-src="@{/css_template_index/ressources/Awa.jpg}"
                        alt="Première diapositive [800x400]" th:src="@{/css_template_index/ressources/Awa.jpg}"
                        data-holder-rendered="true" />
                      <div class="carousel-caption d-none d-md-block">
                        <p>
                          <font style="vertical-align: inherit;">
                            <h5 style="vertical-align: inherit;" class="text-dark">Mettre en contact les producteurs
                              agricoles et les cantines scolaires.</h5>
                          </font>
                        </p>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item" style="height: 400px">
                    <a href="https://medium.com/radiant-earth-insights/farmers-schools-and-data-creating-efficient-sustainable-food-systems-with-geospatial-data-305f01034fc5
                                                  " target="blank">
                      <img class="d-block w-100" style="height: 300px"
                        data-src="@{/css_template_index/ressources/Logo5.png}" alt="Deuxième diapositive [800x400]"
                        th:src="@{/css_template_index/ressources/Logo5.png}" data-holder-rendered="true" />
                      <div class="carousel-caption d-none d-md-block">
                        <p>
                          <font style="vertical-align: inherit;">
                            <h5 style="vertical-align: inherit;" class="text-dark">Créer des systèmes alimentaires avec des
                              données géospatiales</h5>
                          </font>
                        </p>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item" style="height: 400px">
                    <a href="https://yali.state.gov/yali-voices-podcast-senegals-awa-thiam-uses-data-to-link-farmers-with-schools-in-need/
                                                  " target="blank">
                      <img class="d-block w-100" style="height: 300px"
                        data-src="@{/css_template_index/ressources/lifilustration2.jpg}"
                        alt="Troisième diapositive [800x400]" th:src="@{/css_template_index/ressources/lifilustration2.jpg}"
                        data-holder-rendered="true" />
                      <div class="carousel-caption d-none d-md-block">
                        <p>
                          <font style="vertical-align: inherit;">
                            <h5 style="vertical-align: inherit;" class="text-dark">Utiliser des données pour lier les
                              agriculteurs aux écoles dans le besoin.</h5>
                          </font>
                        </p>
                      </div>
                    </a>
                  </div>
    
                  <div class="carousel-item" style="height: 400px">
                    <a href="https://www.iowajpec.org/mandela-washington-fellows/awa-thiam
                                                  " target="blank">
                      <img class="d-block w-100" style="height: 300px"
                        data-src="@{/css_template_index/ressources/uiowa.jpg}"
                        th:src="@{/css_template_index/ressources/uiowa.jpg}" data-holder-rendered="true" />
                      <div class="carousel-caption d-none d-md-block">
                        <p>
                          <font style="vertical-align: inherit;">
                            <h5 style="vertical-align: inherit;" class="text-dark">MANDELA WASHINGTON FELLOW</h5>
                          </font>
                        </p>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item" style="height: 400px">
                    <a href="https://www.lemonde.fr/afrique/article/2019/05/01/agriculture-numerique-le-senegal-montre-l-exemple_5457016_3212.html
                                                  " target="blank">
                      <img class="d-block w-100" style="height: 300px"
                        data-src="@{/css_template_index/ressources/lifilustration5.jpg}"
                        alt="Quatrieme diapositive [800x400]" th:src="@{/css_template_index/ressources/lifilustration5.jpg}"
                        data-holder-rendered="true" />
                      <div class="carousel-caption d-none d-md-block">
                        <p>
                          <font style="vertical-align: inherit;">
                            <h5 style="vertical-align: inherit;" class="text-dark">L’intelligence artificielle et le « big
                              data » offrent des solutions nouvelles .</h5>
                          </font>
                        </p>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item" style="height: 400px">
                    <a href="https://fr-fr.facebook.com/RFI.Afrique/videos/awa-thiam-cartographier-le-sénégal-pour-que-les-enfants-aillent-à-lécole/272924523553740/
                                                  " target="blank">
                      <img class="d-block w-100" style="height: 300px"
                        data-src="@{/css_template_index/ressources/lifrfi.png}" alt="sixieme diapositive [800x400]"
                        th:src="@{/css_template_index/ressources/lifrfi.png}" data-holder-rendered="true" />
                      <div class="carousel-caption d-none d-md-block">
                        <p>
                          <font style="vertical-align: inherit;">
                            <h5 style="vertical-align: inherit;" class="text-dark">cartographier le Sénégal pour que les
                              enfants aillent à l'école.</h5>
                          </font>
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 row">
            <div class="row gallerie">
              <div class="col-lg-4 gal">
                <span class="text-center"><strong>"</strong>Nous sommes disponibles pour vous appuyer dans l'effort de
                  contruire un systéme de gestion efficace et efficient des cantines scolaires via les
                  TIC.<strong>"</strong></span><br /><br />
                <h4 class="text-center"><strong>DCaS</strong></h4>
                <span class="text-muted text-center sign">Division des Cantines Scolaires Ministere de l'Éducation
                  National</span>
              </div>
              <div class="col-lg-4 gal">
                <span><strong>"</strong>Il y'a une faible compréhension des liens entre agriculture et
                  nutrition.<strong>"</strong><br />Le Soleil, Juin 2017</span><br /><br /><br /><br />
                <h4 class="text-center"><strong>Seydou Ndiaye</strong></h4>
                <span class="text-muted text-center sign">Cordonnateur de la plateforme des organisations de la societe
                  civile en collaboration avec Action Contre la Faim et la FAO</span>
              </div>
              <div class="col-lg-4 gal">
                <span><strong>"</strong>Il est difficile de trouver des clients capables d'acheter tout une production, le
                  prix varie selon l'acheteur, on a pas de visibilité sur la
                  rentabilité.<strong>"</strong><br /><br /><br />
    
                  <h4 class="text-center"><strong>Vieux Diouf</strong></h4>
                  <span class="text-muted text-center sign">Producteur dans la zone des niayes</span>
                </span>
              </div>
    
            </div> <br />
          </div>
        </div>
      </div>
    </div>
    
    <div class="team">
      <h1 class="text-uppercase text-center">notre équipe</h1>
      <div class="container">
        <div class="row">
          <div class="card col-lg-3 room" style="border: none;">
            <img class="card-img-top" th:src="@{/css_template_index/ressources/wawa.jpg}" alt="Card image cap" />
            <div class="card-body equipe">
              <h5 class="card-title text-center">Awa Thiam</h5>
              <p class="card-text text-center">Chef de projet</p>
            </div>
          </div>
    
          <div class="card col-lg-3 room" style="border: none;">
            <img class="card-img-top" th:src="@{/css_template_index/ressources/rosio.jpg}" alt="Card image cap" />
            <div class="card-body equipe">
              <h5 class="card-title text-center">Michel Rosio</h5>
              <p class="card-text text-center">Expert consultant AMOA</p>
            </div>
          </div>
    
          <div class="card col-lg-3 room" style="border: none;">
            <img class="card-img-top" th:src="@{/css_template_index/ressources/fafa.png}" alt="Card image cap" />
            <div class="card-body equipe">
              <h5 class="card-title text-center">Fatou Ka</h5>
              <p class="card-text text-center">Analyste financier Sr</p>
            </div>
          </div>
    
          <div class="card col-lg-3 room" style="border: none;">
            <img class="card-img-top" th:src="@{/css_template_index/ressources/seyna.jpg}" alt="Card image cap" />
            <div class="card-body equipe">
              <h5 class="card-title text-center">Seynabou Mbengue</h5>
              <p class="card-text text-center">Responsable opérationnel</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="bas footer" id="contact">
      <div class="container-fluid col-12">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-3">
            <img id="img-footer" class="img-responsive" th:src="@{/css_template_index/ressources/Logo.png}" alt="" />
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <span class="col-md-4 text-white text-center"><img th:src="@{/css_template_index/ressources/tel.png}" alt="" />
            <br /> <br />
            <h5>00221 78 374 93 49</h5>
            <h5>00221 33 855 53 54</h5>
          </span>
          <span class="col-md-4 text-white text-center"><img th:src="@{/css_template_index/ressources/mail2.png}"
              alt="" /><br /><br />
            <h5>contact@lifantou.com</h5>
          </span>
          <span class="col-md-4 text-white text-center"><img th:src="@{/css_template_index/ressources/localisation.png}"
              alt="" /><br /><br />
            <h5>27C, cité SOPRIM, Nord Patte d'oie</h5>
            <h5>Dakar-Sénégal</h5>
          </span>
        </div>
      </div><br /><br />
      <div class="foot">
        <p class="text-center text-white">Copyright 2019 Lifantou. Tous droits réservés</p>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('a', 'li').mouseover(function () {
        $('span', 'li').animate({
          'width': $(this).width(),
          'left': $(this).position().left
        }
          , 'fast')
      })
    })
  </script>
</body>
</html>