.mer {
	display: flex;
	justify-content: space-between;
	width: 900px;
	position: relative;
}

.mer1 {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.serv {
	display: flex;
	justify-content: space-between;
}

.serv .card-text {
	padding: 10px;
}

.bserv {
	border: solid 2px blue;
	border-radius: 30%;
	font-size: 20px;
	padding: 8px;
}

.service {
	background: rgba(235, 233, 233, 0.61);
	padding-bottom: 50px;
	padding-top: 70px;
}

.service h2 {
	padding: 20px;
}

.part1 {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 150px;
}

.part1 img {
	width: 230px;
	height: 85px;
}
.text-description {
	height: 4.5em;
}
#demo {
	padding: 20px;
}

.accompagne h1 {
	padding-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
}

.tesmo {
	background-image: url("../ressources/4.png");
	background-size: 350px;
	background-repeat: no-repeat;
	height: 300px;
}

.gallerie {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 50px;
}

.realite {
	background: rgba(235, 233, 233, 0.61);
	padding-bottom: 50px;
	padding-top: 50px;
}

.realite .container,
h1 {
	padding-top: 20px;
}

.team .container {
	padding-top: 50px;
}

.team {
	padding-bottom: 1%;
	margin-bottom: 4%;
}

.bas .container {
	padding-top: 50px;
}

.bas {
	background-image: url("../ressources/footer.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.teamm {
	margin: 0.5px;
}

.c-glitch:hover {
	zoom: 120%;
}

.navbar-toggler-icon {
	color: black;
}

#img-footer {
	width: 150px;
	padding-top: 20%;
}

#inscr {
	background: linear-gradient(135deg, rgb(51, 131, 235), rgb(2, 170, 86));
	border-radius: 20px;
	border: none;
}

.ndiro {
	border: solid 3px rgb(51, 131, 235);
	border-radius: 50%;
}

.niarel {
	border: solid 3px rgb(29, 233, 63);
	border-radius: 50%;
}

.equipe {
	background: rgb(46, 112, 57);
	color: white;
	padding-top: -50px;
	height: 50%;
}

.team .text-uppercase .container .row .room {
	border: none;
}
.accueil {
	padding-top: 80px;
}
.lif {
	margin-left: 20px;
}
.nav-link:visited {
	border-bottom: solid 2px green;
}
.navbar-toggler-icon {
	background: url("../ressources/lines.png");
}
.gal {
	font-family: italic;
	font-size: 17px;
	border-right: solid 1px rgb(231, 224, 224);
}

.team img {
	height: 350px;
}
.carousel-caption {
	position: relative;
	top: 280px;
}

#realite {
	padding: px;
	box-shadow: 2px 3px;
}

.gimet {
	font-size: 2em;
}

.sign {
	font-size: 15px;
}

/* For slide */
.flexslider.progression-studios-slider {
	background: #fafafa;
	height: 650px;
}
.flexslider {
	padding: 0;
	margin: 0;
	background: 0 0;
	border: none;
	position: relative;
	zoom: 1;
	-webkit-transform: translateZ(0);
}
.flexslider .slides {
	zoom: 1;
}
.flex-control-nav,
.flex-direction-nav,
.slides,
.slides > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-control-nav,
.flex-direction-nav,
.slides,
.slides > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.progression-studios-slider-image-background {
	height: 650px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.progression-studios-slider-display-table {
	display: table;
	width: 100%;
	height: 100%;
}
.progression-studios-slider-vertical-align {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.progression-studios-slider-caption-width {
	position: relative;
	z-index: 10;
	background: rgba(0, 0, 0, 0.4);
	color: #ffffff;
	border-radius: 0.7rem;
	padding: 0.5rem;
}
.flexslider.progression-studios-dashboard-slider h2.light-fonts-pro a,
h1.light-fonts-pro,
h2.light-fonts-pro {
	color: #fff;
}
li.flex-active-slide.progression_studios_animate_in .progression-studios-slider-caption-align {
	animation-name: ProgressionStudiosElementszoomup;
}
.progression_studios_animate_down .progression-studios-slider-caption-align,
.progression_studios_animate_in .progression-studios-slider-caption-align,
.progression_studios_animate_left .progression-studios-slider-caption-align,
.progression_studios_animate_out .progression-studios-slider-caption-align,
.progression_studios_animate_right .progression-studios-slider-caption-align,
.progression_studios_animate_up .progression-studios-slider-caption-align {
	animation-delay: .5s;
	animation-duration: .8s;
	opacity: 1;
	animation-fill-mode: both;
}
.progression-studios-slider-caption-width h2 {
	font-size: 43px;
	line-height: 1.1;
	margin-bottom: 20px;
}
.progression-studios-slider-caption-width h6 {
	line-height: 1.7;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 30px;
}
.flexslider .flex-direction-nav a {
	transition-duration: 250ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
}
.flex-direction-nav .flex-prev {
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.flex-direction-nav .flex-next {
	right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.card-article {
	height: 450px;
}
.card-article .card-img-top {
	height: 288px;
}
.card-article .card-body p.card-text {
	height: 60px;
}

.card-article .card-body a.voir-article {
	float: right;
}
