<div data-th-fragment="index_header">
	<section id="topbar" class="d-none d-lg-block">
		<div class="container clearfix">
			<div class="contact-info float-left">
				<i class="fa fa-envelope-o"></i> <a
					href="mailto:contact@Lifantou.com">contact@Lifantou.com</a> <i
					class="fa fa-phone"></i> +221 78 374 93 49
			</div>
			<div class="social-links float-right">
				<a class="twitter"><i class="fa fa-twitter"></i></a> <a
					href="https://web.facebook.com/Lifantou-1975972915981512/?modal=admin_todo_tour"
					class="facebook" target="blank"><i class="fa fa-facebook"></i></a>
				<a class="instagram"><i class="fa fa-instagram"></i></a> <a
					class="google-plus"><i class="fa fa-google-plus"></i></a>
				<a class="linkedin"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	</section>
</div>